body {
    background-image: url("../Images/space_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.container {
    background: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Audiowide', cursive;
    font-size: 18px;
}
h1 {
    text-align: center;
    color: blue;
    font-family: 'Orbitron', sans-serif;
}
h3 {
    text-align: center;
    color: white;
    font-family: 'Orbitron', sans-serif;
}
#time-left {
    text-align: center;
    color: white;
    font-family: 'Orbitron', sans-serif;
}
.question-option {
  margin-bottom: 60px;
}
/* Modal Content/Box */

.modal-content {
  background: rgb(0, 0, 0);
}
.modal-title {
  margin-top: 100px;
  color: rgb(0, 0, 255);
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}
.modal-text {
  color: white;
  text-align: center;
}

#correct-total {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: white;
  font-family: 'Audiowide', cursive;
}

#wrong-total {
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: 'Audiowide', cursive;
}